@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0e0e0e;
  color: #eaeaea;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth !important
}

nav {
  background-color: #0e0e0e;
}

#menu {
  background-color: #0e0e0e;
  padding: 10px;
  border-radius: 5px;
}

#menu-toggle svg {
  transition: transform 0.3s ease;
}
#menu-toggle svg.rotate-90 {
  transform: rotate(90deg);
}

#name {
  background: rgb(149, 149, 149);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  padding-bottom: 4px;
}

.hidden {
  display: none;
}

@keyframes fadeBlur {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-6px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.fade-blur {
  opacity: 0;
  display: inline-block;
  animation: fadeBlur 0.4s ease-out forwards;
}